MYSQL_ROOT_PASSWORD=<YOUR_MYSQL_PASSWORD>
MYSQL_DATABASE=wos
MYSQL_USER=<MYSQL_USER>
GPG_RECIPIENT=<EMAIL_YOU_USED_DURING_GPG_KEY_GEN>
R2_ACCESS_KEY_ID=<S3_ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<S3_SECRET_KEY>
R2_ENDPOINT_URL=<S3_API_URL>
S3_BUCKET=<BUCKET_NAME>
